##########################################################
#
# Linux variables
#
##########################################################
cb_version = "{{ CB_VERSION }}"
os_linux_type = "{{ LINUX_TYPE }}"
os_linux_release = "{{ LINUX_RELEASE }}"
azure_resource_group = "{{ AZURE_RG }}"
os_image_publisher = "{{ OS_IMAGE_PUBLISHER }}"
os_image_offer = "{{ OS_IMAGE_OFFER }}"
os_image_sku = "{{ OS_IMAGE_SKU }}"
azure_location = "{{ AZURE_LOCATION }}"
host_prep_repo = "mminichino/hostprep"
