##########################################################
#
# CentOS variables
#
##########################################################
cb_version = "{{ CB_VERSION }}"
os_linux_type = "{{ LINUX_TYPE }}"
os_linux_release = "{{ LINUX_RELEASE }}"
aws_image_name = "{{ AWS_IMAGE }}"
aws_image_owner = "{{ AWS_AMI_OWNER }}"
aws_image_user = "{{ AWS_AMI_USER }}"
aws_region = "{{ AWS_REGION }}"
