##########################################################
#
# CentOS variables
#
##########################################################
cb_version = "{{ CB_VERSION }}"
os_linux_type = "{{ LINUX_TYPE }}"
os_linux_release = "{{ LINUX_RELEASE }}"
os_image_name = "{{ OS_IMAGE_NAME }}"
os_image_owner = "{{ OS_IMAGE_OWNER }}"
os_image_user = "{{ OS_IMAGE_USER }}"
region_name = "{{ AWS_REGION }}"
host_prep_repo = "mminichino/hostprep"
